.slid-img{
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.slid-img::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(#00000092, #00000085);
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.7;
}